<header class="header">
  <div class="container">
    <div class="header-content">
      <a href="./index.html" class="header-logo"
        ><svg width="66" height="52">
          <use href="./img/symbol-defs.svg#icon-logo"></use></svg
      ></a>
      <nav class="header-navigation">
        <ul class="header-list list">
          <li class="header-item">
            <a href="" class="header-link link">Home</a>
          </li>
          <li class="header-item">
            <a href="" class="header-link link">About</a>
          </li>
          <li class="header-item">
            <a href="" class="header-link link">Service</a>
          </li>
          <li class="header-item">
            <a href="" class="header-link link">Menu</a>
          </li>
          <li class="header-item">
            <a href="" class="header-link link">Contact</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="header-btn btn-main">Order Now</button>
    </div>
  </div>
</header>
