<section class="subscribe">
    <div class="conteiner subscribe-conteiner">
        <h2 class="subscribe-title">Subscribe To Get Special Offers</h2>
        <p class="subscribe-description">Order now and receive 10% off your first meal with Enjoy Your Favorite Food From Anywhere. </p>
        <form class="subscribe-form"> 
            <label class="subscribe-label">
            <input type="email" placeholder="Enter your email" name="mail" class="subscribe-input" >
        </label>
        <button type="submit" class="subscribe-button">Subscribe</button>
    </form>
        <img src="./img/banan.jpg" alt="banan" width="608" height="266" class="subscribe-img">
    </div>
   </section>